body{
    margin: 0;
}
.container{
    width: 1512px ;
    height: 2615px;
    /* background: red; */
}
.header{
    width: 1512px;
    height: 696px;
    background: rgba(239, 221, 215, 1);
    display: flex;
    flex-direction: row;


}
.nav{
    width: 1200px;
    height: 150px;
    /* background: aliceblue; */
    
}
.nav ul{
 display: flex;
}
.nav ul li {
    flex-direction: row;
    list-style-type: none;
    position: relative;
    top: 53px;
    left: 50px;
    padding-left: 100px;
}
.nav ul li a{
   text-decoration: none;
   font-size: 20px;
   color:  rgba(0, 0, 0, 1);
   ;
}
.logo {
    width: 410px;
    height: 27px;
    letter-spacing: 5px;
    margin-left: 80px;
    color: #BB6D7B;

}
.hero-text{
    width: 535px;
    height: 148px;
    /* border: 1px solid; */
    position: relative;
    top: 40px;
    left: 165px;
    color:  rgba(0, 0, 0, 1);
    
}
.hero-first-text {
    font-size: 42px;
    font-weight: 700;
    line-height: 44.94px;
}
.icon {
    height: 13px;
    width: 13px;
    font-size: 12px;
    position: relative;
    top: 3px;
    color:rgba(187, 109, 123, 1) ;
}
.text {
    width: 133px;
    height: 27px;
    position: relative;
    bottom: 28px;
    left: 20px;
    color: rgba(187, 109, 123, 1);
    font: 18px;
}
i.fa-solid.fa-clock {
    position: relative;
    bottom: 55px;
    left: 160px;
}
p#left-text {
    position: relative;
    left: 160px;
    bottom: 56px;
}
.second-text {
    width: 535px;
    height: 153px;
    /* border: 1px solid; */
    position: relative;
    bottom: 75px;
    font-size: 24px;
    line-height: 27.84px;
}
.btn {
    width: 277px;
    height: 53px;
    border: 1px solid rgba(187, 109, 123, 1) ; ;
    position: relative;
    bottom: 100px;
    background: rgba(187, 109, 123, 1) ;
}
#text{
    color: white;
    position: relative;
    font-size: 20px;
    line-height: 24.4px;
    font-weight: 700 ;
    left: 85px;
    bottom: 13px;
    top: -5px;
  text-transform: capitalize;
}
.right-image img{
    width:595px ;
    height: 372px;
}
.right-image {
    position: relative;
    left: 805px;
    bottom: 100px;
}
.blog-section{
    width: 1512px;
    height: 1656px;
    /* background-color: aqua; */
    display: grid;
    grid-template-columns: auto auto auto;

}
.blog{
    width: 373px;
    height: 375px;
    position: relative;
    top: 123px;
    left: 60px;
    background: #EFDDD7;
}
.blog img{
    width: 373px;
    height: 233px;
}
.blog-text{
    width: 329px;
    height: 77px;
    font-size: 20px;
    font-weight: 400;
    line-height: 23.2px;
    position: relative;
    left: 15px;
    top: 5px;
}
#calendar{
    width: 12px;
    height: 12px;
    font-size: 10px;
    color: #BB6D7B;
}
#date{
    width: 119px;
    height: 24px;
    font-size: 16px;
    line-height: 18.56px;
    color: #BB6D7B;
    position: relative;
    bottom: 34px;
    left: 15px;

}
#blog-time{
    width: 119px;
    height: 24px;
    font-size: 16px;
    line-height: 18.56px;
    color: #BB6D7B;
    position: relative;
    bottom: 110px;
    left: 240px;
}
#clock{
    width: 12px;
    height: 12px;
    font-size: 10px;
    color: #BB6D7B;
    position: relative;
    bottom: 76px;
    left: 225px;
}
#active{
    background: #361017;
    color: #ffffff;
}
.blog-section-2{
    display: grid;
    grid-template-columns: auto auto auto;

}
.blog-2{
    width: 373px;
    height: 375px;
    position: relative;
    bottom: 1100px;
    left: 60px;
    background: #EFDDD7;
}
.blog-2 img{
    width: 373px;
    height: 233px;
}
.blog-section-3{
    display: grid;
    grid-template-columns: auto auto auto;

}
.blog-3{
    width: 373px;
    height: 375px;
    position: relative;
    bottom: 1030px;
    left: 60px;
    background: #EFDDD7;
}
.blog-3 img{
    width: 373px;
    height: 233px;
}
footer{
    width: 1512px;
    height: 263px;
    background-color: #1E090D;
    position: relative;
    bottom: 830px;
}
.footer-logo{
    width: 201px;
    height: 13px;
    width: 201px;
    height: 13px;
    position: relative;
    top: 58px;
    left: 159px;
}
.footer-text-logo{
    color: #EEADAD;
    position: relative;
    bottom: 18px;
    font-size: 16px;
    left: 18px;
}
.copyright{
    color: #ffffff;
    width: 282px;
    height: 48px;
    font-size: 18px;
    line-height: 24.12px;
    position: relative;
    top: 71px;
    left: 177px;
}
.footer-nav{
    width: 350px;
    height: 50px;
    position: relative;
    left: 1100px;
    bottom: 60px;
}
.footer-nav ul{
    display: flex;
}
.footer-nav ul li{
    list-style-type: none;
    padding-left: 50px;
    position: relative;
    right: 75px;
    
}
.footer-nav ul li a{
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
}
.social-icon{
    color: #ffffff;
    font-size: 25px;
    position: relative;
    left: 1100px;
    bottom: 35px;
    color: #EEADAD ;
}
.social-icon i{
    padding-left: 20px;
    width: 35px;
    height: 35px;
    
    
}
